* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.container_grover_website {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  transition: all 0.3s linear;
}
.wrap_grover {
  width: 100%;
}

.row_grover {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
  margin: 0px auto;
}
/* --------------------- */
/* title h3 */
.grover_title_all {
  font-size: 4.5rem;
  max-width: 100%;
  color: #2e2e2e;
}
/* p */
.describe_main_title {
  font-size: 2rem;
  color: #676767;
  line-height: 1.6;
  padding: 20px 0px;
}
.page_title_content {
  font-size: 2rem;
  padding: 20px 0px;
  font-weight: 500;
}
