.header_them_color {
  color: #ffffff;
}
.header_row_grover {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header_logo {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* .icon_list_menu== mobile-turn-on */
.icon_list_menu {
  font-size: 2.5rem;
  color: rgb(0 0 0 / 30%);
  border: 1px solid rgb(0 0 0 / 30%);
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.frame_form_menu_and_search {
  display: flex;
  gap: 20px;
  width: 80%;
  transform-origin: top center;
  transition: all 0.3s linear;
}
/* #menu_mobile:checked ~ .frame_form_menu_and_search {
  transform: scale(100%, 0);
  position: absolute;
} */

.nav_menu {
  width: 80%;
  height: auto;
  text-transform: capitalize;
  font-size: 1.4rem;
  align-content: center;
  justify-content: center;
}
.nav_list_menu {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.nav_list_menu a {
  display: block;
  padding: 10px 0px;
  color: #212529;
  text-decoration: none;
  font-weight: 500;
  /* margin: 0px auto; */
}
.nav_list_menu > li:nth-child(1) a {
  color: red;
}
.nav_list_menu li a:hover {
  color: red;
}
.header-form-search {
  width: 300px;
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #212529;
  position: relative;
}
.header-form-search input {
  padding: 10px 50px 10px 40px;
  background-color: #fbfafa;
  width: 300px;
  height: auto;
  border: none;
  outline: none;
  border-radius: 5px;
}
input:focus::placeholder {
  visibility: hidden;
}
.icon_search {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
}
.icon_search i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon_shopping_cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
}
.icon_shopping_cart i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon_shopping_cart::before {
  content: "";
  width: 2px;
  height: 50%;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  background-color: #f2f2f2;
}
.icon_shopping_cart:after {
  content: "2";
  width: 20px;
  height: 20px;
  top: -35%;
  right: 0;
  position: absolute;
  background: #f74b4c;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
}
/* header_content_left_inner ---start*/
.content_left_inner,
.content_right_inner {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.override {
  background: #fff;
}

/* image page_one */
.marketing_image {
  width: 100%;
  display: block;
}
.strawberry_brand {
  margin-bottom: 20px;
  width: fit-content;
  height: auto;
  padding: 10px 20px;
  background: #fdecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 99px;
}
.strawberry_title_color {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f74b4c;
}
.main_title {
  color: #2e2e2e;
  font-size: 7rem;
}

.main_title span {
  color: #f74b4c;
  font-weight: 500;
}
.describe_strawberry {
  width: 30px;
  height: auto;
}
.btn_process_purchased_product {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.btn_order_process a {
  padding: 20px 40px;
  color: #ffffff;
  background: #f74b4c;
  text-decoration: none;
  border-radius: 10px;
  outline: 1px solid #fff;
  transition: all 0.3s linear;
}
.btn_order_process:hover a {
  background: #fff;
  color: #f74b4c;
  outline: 1px solid #f74b4c;
}
.btn {
  padding: 0px 10px;
  background: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.btn a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0px 10px;
  color: #2e2e2e;
}

/* header_content_left_inner ---end*/
/* page - two start */
.grover_grover_title {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /* margin: 0px auto; */
  padding: 50px 0px;
  line-height: 1.5;
}
.grover_title_page_two {
  font-size: 4.5rem;
  max-width: 60%;
  color: #2e2e2e;
}
.grover_title_article_page_two {
  color: #f74b4c;
  font-size: 1.8rem;
  font-weight: 500;
}

.row_grow_page_two {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}
.page_two_background_color {
  background: #fef5f5;
}
.form_purchased_product {
  width: calc(100% / 4);
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  padding: 70px 30px;
  align-items: center;
  line-height: 1.5;
  text-align: center;
  position: relative;
}
.form_purchased_product::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: #f74b4c;
  border-radius: 15px;
  transform-origin: 30% top;
  transition: all 0.2s linear;
  opacity: 0;
}
.form_purchased_product::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  border-radius: 15px;
}
.form_purchased_product:hover::before {
  transform: rotate(-3deg) scale(100%, 105%);
  opacity: 1;
}
.icon_purchased_product {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 30px 10px;
}

.purchased_product_title {
  font-size: 2rem;
  font-weight: 600;
  color: #2e2e2e;
  padding: 20px 0px;
}
.describe_icon_process {
  font-size: 1.4rem;
}
.icon_purchased_product img {
  width: auto;
  height: 80px;
}
.override {
  position: relative;
  z-index: 1;
}
/* page - two end */

/* row_grover_page_four start */
.row_grover_page_four {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
/* row_grover_page_four end */

.text_page_three_color {
  color: #03a66b;
}
.text_page_four_color {
  color: #f9ba45;
}
.text_page_five_color {
  color: #f74b4c;
}
/* page five start */
/* btn---app */
.btn_app_container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  cursor: pointer;
}
.btn_app {
  display: flex;
  gap: 10px;
  width: 200px;
  height: auto;
  border: #2e2e2e 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.btn_app a {
  padding: 25px 10px;
  font-size: 1.8rem;
  color: #2e2e2e;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}

.content_left_inner_page_five,
.content_right_inner_page_five {
  width: 50%;
  height: auto;
  margin-top: 50px;
}
.content_left_inner_page_five {
  display: flex;
  justify-content: center;
}
.page_five_background {
  background: #fef5f5;
}
/* page five end */

/* footer start */
.column_left_footer {
  width: 40%;
  height: auto;
}
.column_right_footer {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.describe_article_article {
  padding: 20px 0px;
  width: 80%;
  font-size: 1.6rem;
  color: #676767;
  font-weight: 400;
  line-height: 1.8;
}
.column_menu {
  padding: 10px 0px;
  width: 30%;
  height: auto;
}
.column_menu h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #2e2e2e;
  text-transform: capitalize;
}
.list_menu {
  font-size: 1.6rem;
  padding-top: 25px;
  line-height: 2.2;
  width: 100%;
  height: auto;
  text-transform: capitalize;
}

.list_menu a {
  text-decoration: none;
  color: #676767;
}
.list_menu a:hover {
  color: #2e2e2e;
}

.row_container_footer {
  border-top: #e2e2e2 1px solid;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: #676767;
  font-size: 1.2rem;
  padding: 20px 0px;
}
.describe_text {
  padding: 20px 0px;
  font-size: 1.6rem;
  color: #676767;
  line-height: 1.8;
  font-weight: 400;
}
.row_grover_footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* footer and */
