* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
.frame-container {
  width: 1000px;
  height: auto;
  margin: auto;
}
.container_item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.wrap_item {
  width: calc(100% / 3 - 30px);
  /* border: 2px solid #ececee; */
  padding: 20px 30px;
  position: relative;
  margin-top: 40px;
  height: auto;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../bai_1/style/process-img.webp);

  transition: background-image 0.5s linear;
}
/* .wrap_item:hover {
  background-image: url(../../../day_8/bai_2/style/14-prm-den-1.jpg) no-repeat
    100% 100% / cover;
} */
.describe {
  font-size: 1.3rem;
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* line-height: 1.2; */
  margin: 20px 0px;
  transition: transform, 0.5s linear;
  z-index: 1;
}
/* ----------------------------------------------- */
h2,
p {
  padding: 5px 0px;
  transition: transform, 0.5s linear;
  z-index: 1;
}
.wrap_item > i {
  z-index: 1;
  font-size: 8rem;
  color: rgba(162, 112, 90);
  transition: transform 0.5 linear;
}

.wrap_item:hover h2 {
  transform: translate(0, -150%);
  color: #fff;
}
.wrap_item:hover p {
  transform: translate(0, -150%);
  color: #fff;
}
.overlay::before {
  content: "";
  inset: 0;
  background-color: #fff;
  position: absolute;
  /* z-index: 0; */
  transition: background-color 0.5s linear;
}
.wrap_item:hover .overlay::before {
  background-color: rgba(162, 112, 90, 0.8);
  /* position: absolute;
  z-index: 0; */
}
.overlay::after {
  content: "";
  inset: 0;
  border: 2px solid #ececee;
  position: absolute;
  transform: transform 0.5s ease;
}
.wrap_item:hover .overlay::after {
  transform: scale(90%);
}
.arrow {
  z-index: 1;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  bottom: 15%;
  visibility: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
.arrow i {
  padding: 5px;
  border: 3px solid #fff;
  border-radius: 15px;
}
i:hover {
  background: #fff;
  color: rgba(162, 112, 90);
}
.wrap_item:hover .arrow {
  visibility: visible;
}
.arrow span {
  padding-right: 20px;
}

.wrap_item:hover > i {
  transform: scale(0);
}
