header .row_header .nav_menu_and_search .search {
  display: flex;
  align-items: center;
}

.wrap_container .row_container .sidebar_left, header .row_header {
  display: flex;
  justify-content: space-between;
}

header .row_header .icon_shopping_cart_and_contact, header .row_header .nav_menu_and_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap_container .content_right .box_content_one, .wrap_container .content_right {
  display: flex;
  flex-wrap: wrap;
}

.wrap_container .content_right .box_content_one {
  max-width: 100%;
  flex-basis: 100%;
  height: 30vh;
}

header .row_header {
  width: 100%;
  padding: 10px;
}
header .row_header .logo a {
  color: #333;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
header .row_header .logo a span {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background-color: rgb(248, 248, 69);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2px;
  text-transform: capitalize;
  position: relative;
}
header .row_header .logo a span::before {
  content: "";
  height: 4px;
  width: 15px;
  position: absolute;
  background-color: #333;
  top: 25%;
  left: 80px;
}
header .row_header .nav_menu_and_search .search .icon_search {
  position: relative;
}
header .row_header .nav_menu_and_search .search .icon_search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}
header .row_header .nav_menu_and_search .search .icon_search input {
  padding: 7px 10px 7px 40px;
  background: #fdfdfd;
  font-size: 1rem;
  border-radius: 5px;
}
header .row_header .nav_menu_and_search .nav_menu {
  font-size: 1.2rem;
}
header .row_header .nav_menu_and_search .nav_menu .list_menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-transform: capitalize;
}
header .row_header .nav_menu_and_search .nav_menu .list_menu a {
  color: #333;
  font-weight: 700;
}
header .row_header .nav_menu_and_search .nav_menu .list_menu a:hover {
  border-bottom: 2px solid #333;
}
.wrap_container .row_container .sidebar_left {
  flex-direction: column;
}
.wrap_container .row_container .sidebar_left .sidebar_title h2 {
  text-transform: capitalize;
  font-size: 2vw;
  padding-bottom: 20px;
}
.wrap_container .row_container .sidebar_left .menu_sidebar {
  width: calc(var(--container-width) / 6 - 20px);
}
.wrap_container .row_container .sidebar_left .menu_sidebar .sidebar_list_menu li {
  display: flex;
  justify-content: start;
  padding: 10px 0;
}
.wrap_container .row_container .sidebar_left .menu_sidebar .sidebar_list_menu li i {
  width: 30px;
  color: rgb(255, 213, 0);
}
.wrap_container .row_container .sidebar_left .menu_sidebar .sidebar_list_menu li a {
  text-transform: capitalize;
  color: #333;
  font-weight: 700;
}
.wrap_container .row_container .sidebar_left .comment {
  text-transform: capitalize;
  font-weight: 500;
}
.wrap_container .row_container .sidebar_left .comment i {
  margin-right: 10px;
  font-size: 2rem;
  transform: rotateY(180deg);
  color: gray;
}
.wrap_container .content_right .box_content_one {
  flex: 1 1 50%;
  gap: 5px;
}
.wrap_container .content_right .box_content_one .img_inner_one {
  width: 100%;
  flex: 1 1 50%;
}
.wrap_container .content_right .box_content_one .image_content_inner_one {
  width: 100%;
  height: 100%;
  background: url(../image/pic-5.png) 100% 100%/cover;
}
.wrap_container .content_right .box_content_one .image_content_inner_two {
  width: 100%;
  height: 100%;
  background: url(../image/pic-5.png) 50% 50%/cover;
}
.wrap_container .content_right .box_content_one .image_content_inner_seven {
  width: 100%;
  height: 100%;
  background: url(../image/pic-5.png) 0 100%/cover;
}
.wrap_container .content_right .box_content_one .image_content_inner_eight {
  width: 100%;
  height: 100%;
  background: url(../image/pic-5.png) 100% 0/cover;
}
.wrap_container .content_right .box_content {
  flex: 1 1 50%;
  display: flex;
  gap: 10px;
}
.wrap_container .content_right .box_content .img_inner {
  max-width: 50%;
  flex-basis: 1 1 50%;
  border-radius: 15px;
}
.wrap_container .content_right .box_content .image_content_inner_three {
  width: 100%;
  height: 100%;
  background: url(../image/pic-1.jpg) 0 0/cover;
}
.wrap_container .content_right .box_content .image_content_inner_four {
  width: 100%;
  height: 100%;
  background: url(../image/pic-2.jpg) 75% 100%/cover;
}
.wrap_container .content_right .box_content .image_content_inner_five {
  width: 100%;
  height: 100%;
  background: url(../image/pic-3.jpg) 50% 100%/cover;
}
.wrap_container .content_right .box_content .image_content_inner_six {
  width: 100%;
  height: 100%;
  background: url(../image/pic-4.jpg) 25% 100%/cover;
}

/*# sourceMappingURL=style.css.map */
