* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(165, 165, 165);
}
.container_menu_affect {
  width: 1000px;
  height: auto;
  margin: 30px auto;
}
.nav_list_menu {
  border: 2px solid aliceblue;
  padding: 5px;
  background-color: #fff;
  margin-top: 20px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav_list_menu label {
  display: inline-block;
  border: 1px solid aliceblue;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 10px 30px;
  height: auto;
}

#list_menu_one:checked ~ .nav_list_menu label:nth-child(1),
#list_menu_two:checked ~ .nav_list_menu label:nth-child(2),
#list_menu_three:checked ~ .nav_list_menu label:nth-child(3),
#list_menu_four:checked ~ .nav_list_menu label:nth-child(4) {
  background-color: #339ada;
  color: #fff;
}
.nav_list_menu label:hover {
  background-color: #339ada;
  color: #fff;
  cursor: pointer;
}
.move_animation {
  position: relative;
  height: auto;
  width: 100%;
}
.describe_list_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  visibility: hidden;
  background-color: #fff;
  padding: 10px 30px;
  line-height: 1.2;
  width: 100%;
  height: auto;
  overflow: auto;
  transform-origin: top center;
  transition: transform 0.5s linear;
  transition-delay: 0.5s;
  /* transform-style: preserve-3d; */
}
/* #list_menu_one:active ~ .describe_list_menu {
  transition-delay: 0;
  transform: rotate3d(1, 1 0, 60deg);
  transform: matrix3d(1, 0, 0, 0, 1, 0.5, 0, 0.002, 0, 1, 1, 0, 0, 0, 0, 1);
} */

#list_menu_one:checked ~ .move_animation .describe_list_menu:nth-child(1),
#list_menu_two:checked ~ .move_animation .describe_list_menu:nth-child(2),
#list_menu_three:checked ~ .move_animation .describe_list_menu:nth-child(3),
#list_menu_four:checked ~ .move_animation .describe_list_menu:nth-child(4) {
  animation: move_animation 1s linear both;
  transform: rotateX(0);
}

@keyframes move_animation {
  0% {
    transform: perspective(500px) rotateX(0);
    opacity: 1;
    visibility: visible;
  }
  50% {
    transform: perspective(500px) rotateX(-90deg);
    opacity: 0.3;
    visibility: visible;
  }
  100% {
    transform: perspective(500px) rotateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.describe_list_menu h2 {
  padding: 20px 0px;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.describe_list_menu .letter p {
  font-size: 1.5rem;
  font-weight: 500;
}
