header .row_header .nav_menu_and_search .search, header .row_header .icon_menu {
  display: flex;
  align-items: center;
}

.wrap_container .row_container .sidebar_left, header .row_header {
  display: flex;
  justify-content: space-between;
}

header .row_header .icon_shopping_cart_and_contact, header .row_header .nav_menu_and_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .row_header {
  width: 100%;
  padding: 10px;
}
header .row_header .icon_menu {
  font-size: 1.5rem;
  color: gray;
  border: gray 2px solid;
  border-radius: 10px;
  padding: 0px 10px;
  display: none;
}
header .row_header .logo a {
  color: #333;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
header .row_header .logo a span {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background-color: rgb(248, 248, 69);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2px;
  text-transform: capitalize;
  position: relative;
}
header .row_header .logo a span::before {
  content: "";
  height: 4px;
  width: 15px;
  position: absolute;
  background-color: #333;
  top: 25%;
  left: 80px;
}
header .row_header .nav_menu_and_search .search .icon_search {
  position: relative;
}
header .row_header .nav_menu_and_search .search .icon_search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}
header .row_header .nav_menu_and_search .search .icon_search input {
  padding: 7px 10px 7px 40px;
  background: #fdfdfd;
  font-size: 1rem;
  border-radius: 5px;
}
header .row_header .nav_menu_and_search .nav_menu {
  font-size: 1.2rem;
}
header .row_header .nav_menu_and_search .nav_menu .list_menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-transform: capitalize;
}
header .row_header .nav_menu_and_search .nav_menu .list_menu a {
  color: #333;
  font-weight: 700;
}
header .row_header .nav_menu_and_search .nav_menu .list_menu a:hover {
  border-bottom: 2px solid #333;
}
header .row_header .icon_shopping_cart_and_contact i + i {
  margin-left: 50px;
}
header .menu_mobile {
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(3, 3, 3, 0.8);
  padding-left: 30px;
  padding-top: 30px;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
header .menu_mobile label {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
header .menu_mobile .list_menu li {
  padding: 10px 0px;
}
header .menu_mobile .list_menu a {
  color: #fff;
}
header .menu_mobile .list_menu i {
  color: orange;
  width: 30px;
}
header .menu_mobile .menu_mobile_title h2 {
  margin: 40px 0 10px;
  color: orange;
}

.wrap_container .row_container .sidebar_left {
  gap: 5px;
  padding: 0px 10px;
  flex-direction: column;
}
.wrap_container .row_container .sidebar_left .sidebar_title h2 {
  text-transform: capitalize;
  font-size: 2vw;
  padding-bottom: 20px;
}
.wrap_container .row_container .sidebar_left .menu_sidebar {
  width: calc(var(--container-width) / 6 - 20px);
}
.wrap_container .row_container .sidebar_left .menu_sidebar .sidebar_list_menu li {
  display: flex;
  justify-content: start;
  padding: 10px 0;
}
.wrap_container .row_container .sidebar_left .menu_sidebar .sidebar_list_menu li i {
  width: 30px;
  color: rgb(255, 213, 0);
}
.wrap_container .row_container .sidebar_left .menu_sidebar .sidebar_list_menu li a {
  text-transform: capitalize;
  color: #333;
  font-weight: 700;
}
.wrap_container .row_container .sidebar_left .comment {
  text-transform: capitalize;
  font-weight: 500;
}
.wrap_container .row_container .sidebar_left .comment i {
  margin-right: 10px;
  font-size: 2rem;
  transform: rotateY(180deg);
  color: gray;
}
.wrap_container .row_container .content_right {
  padding-top: 20px;
}
.wrap_container .row_container .content_right .space_grid {
  gap: 20px;
  display: flex;
  flex-wrap: wrap !important;
}
.wrap_container .row_container .content_right .inner {
  flex: 1 1 calc(50% - 20px);
}
.wrap_container .row_container .content_right .box_content {
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.wrap_container .row_container .content_right .box_content .img_inner {
  height: 100%;
  width: calc(50% - 10px);
  border-radius: 15px;
}
.wrap_container .row_container .content_right .box_content .image_content_inner_three {
  background: url(../image/pic-1.jpg) 50% 50%/cover;
}
.wrap_container .row_container .content_right .box_content .image_content_inner_four {
  background: url(../image/pic-2.jpg) 75% 100%/cover;
}
.wrap_container .row_container .content_right .box_content .image_content_inner_five {
  background: url(../image/pic-3.jpg) 50% 50%/cover;
}
.wrap_container .row_container .content_right .box_content .image_content_inner_six {
  background: url(../image/pic-4.jpg) 30% 50%/cover;
}
.wrap_container .row_container .content_right .box_content_one {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap_container .row_container .content_right .box_content_one .img_inner_one {
  height: calc(50% - 10px);
  width: 100%;
  border-radius: 15px;
}
.wrap_container .row_container .content_right .box_content_one .image_content_inner_one {
  background: url(../image/pic-5.png) 50% 50%/cover;
}
.wrap_container .row_container .content_right .box_content_one .image_content_inner_two {
  background: url(../image/pic-6.png) 50% 50%/cover;
}
.wrap_container .row_container .content_right .box_content_one .image_content_inner_seven {
  background: url(../image/pic-9.png) 0 0/cover;
}
.wrap_container .row_container .content_right .box_content_one .image_content_inner_eight {
  background: url(../image/pic-10.png) 0 0/cover;
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .nav_menu {
    display: none;
  }
  .row_sidebar {
    display: none;
  }
  .comment {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 768px) {
  .nav_menu {
    display: none;
  }
  .row_sidebar {
    display: none;
  }
  .comment {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
