    @use "../partials/variables";



    header{
        box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
        .row_container{        
            .row_col_container{
                width: 100%;
                height: 6.8rem;
                display: flex; 
                align-items: center;
                // justify-content: space-between;
                gap: 0 3rem; 
                .icon_menu{
                    display: none;
                    label{
                        font-size: 2.5rem;
                        color: gray;    
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        border: 2px solid gray;
                        
                    }
                }
                .logo{
                    height: 108.33px;
                    width: auto;
                img {  
                    width: 10.5rem;
                    height: 7.3rem;
                    margin-top: 1.86rem;
                }
                }
                .menu_navbar{
                    display: flex;
                    // justify-content: flex-end;
                    gap: variables.$listGap;
                    
                    label{
                        color:white ;
                        position: absolute;
                        font-size: 1.5rem;
                        top: 2rem;
                        right: 2rem;
                        display: none;
                    
                    }
                    .nav_list{
                        width: 100%;
                        justify-content: flex-end;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.5rem 4.5rem;
                        
                        a{  
                            color: variables.$textColor;
                            font-weight: 500;
                            font-size: 1.6rem;  
                        text-transform: capitalize;
                            &:hover{
                                color: #46B20F;
                            }
                        }
                    }
                }
                .shopping_cart_and_search{
                    display: flex;
                    justify-content: flex-end;
                
                    .shopping_cart{
                        position: relative;
                        font-size: 2.4rem ;
                    cursor: pointer;
                    span{
                        position: absolute;
                        font-size: 1rem;
                        color: #fff; 
                        top: -1.2rem;
                        left: 2rem;
                        padding: 0.6rem 0.7rem;
                        border-radius: 99px;
                        background: #E05000;
                        display: flex;
                        align-items: center;
                        z-index: 0;
                    }
                    }
                    .search_icon{
                            margin-left: 4.5rem;
                            font-size: 2.4rem;
                            cursor: pointer;
                        }
                    
                }
        
            }
            .menu_mobile_col_max-sm{
                display: none;
            }   
        }
        
    }
    // responsive

@media screen and (max-width: 768px) {
    #menu_overlay:checked ~ .wrap_container .row_container .row_col_container .menu_navbar{
        translate: 0;
    }
    #menu_overlay:checked ~ .wrap_container .overlay{
        display: block;
        z-index: 10 ;
    }
    .wrap_container{
        .overlay{
            position: fixed;
            inset: 0;
            background: rgba(3,3,3,0.2) ;
           display: none;
        }
        .container{
            .row_container{
                .row_col_container{
                    justify-content: space-between;
                    .icon_menu{
                        display: block !important;
                    }
                    .menu_navbar{
                        padding: 5rem 0 0 3rem;
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 20rem;
                        background: #333;
                        z-index: 999;
                        translate: -100%;
                        transition: all 0.3s linear;
                        // flex-wrap: nowrap;
                       
                        label{
                            position: absolute;
                            display: block !important;
                            color: #fff;
                            &:hover{
                                color: red;
                            }
                        }
                        .nav_list{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 30px;
                            a{
                                color: #fff;
                                font-weight: 700;
                                &:hover{
                                    color: variables.$colorText;
                                }
                            }
                           
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .logo{
        display: none;
    }
}