@use "./bets_seller";
@use "./new_product";
@use "../../partials/variables";
@use "../../partials/base";
.wrap_container{
    .container{
        .row_container{
            .product{
                margin-top: 5rem;
                width: 100%;
                gap: 5rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .frame_product{
                    // border: 1px solid red;
                    // box-shadow: 1px 1px 10px 2px variables.$grayColor;
                    max-width: calc(var(--container-width)/3 - 20px);
                    text-align: center;
                    padding: 50px 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .image_product{
                       max-width: 100%;
                      
                       img{
                        max-width: 50%;
                        height: auto;
                        
                        // align-self: center;
                       }
                    }
                    // .product_one{
                    //     @extend %image;
                    //     border: 1px red solid;
                    //     background: url(./image/product/product-1.png) center center   / cover ;
                    // }
                    // .product_two{
                    //     @extend %image;
                    //     background: url(../../../image/product/product-1.png);
                    // }
                    // .product_three{
                    //     @extend %image;
                    //     background: url(../../../image/product/product-1.png);
                    // }
                    // .product_four{
                    //     @extend %image;
                    //     background: url(../../../image/product/product-1.png);
                    // }
                    // .product_five{
                    //     @extend %image;
                    //     background: url(../../../image/product/product-1.png);
                    // }
                    // .product_six{
                    //     @extend %image;
                    //     background: url(../../../image/product/product-1.png);
                    // }
                    h4{
                        max-width:100%;
                        font-size: 2.4rem;
                        font-weight: 700;
                        line-height: normal;
                        position: relative;
                        padding: 1.4rem 0;
                        &::before{  
                            position: absolute;
                            content:''; 
                            width: 20%;
                            height: 1px;
                            background: variables.$grayColor;
                            bottom: 0;
                            left:50%;
                            translate: -50% 0;
                           
                        }
                    }
                    .describe{
                        margin-top: 1.5rem;
                        p{
                            color: variables.$colorBack ;
                            font-size: 1.7rem;
                            font-weight: 500;
                            line-height: 1.5;
                            span{
                                color: variables.$textColor;
                                font-size: 2.5rem;
                                font-weight: 600;
                                // line-height: 2.5;
                            }
                        }
                    }
                    .btn_purchased{
                        @extend %purchased;
                        font-weight: 700;
                        display: block;
                    }
                }
            }
        }
    }
}
//responsive
@media screen and (max-width: 1200px) {
    .product{
        gap: 0 !important;
    
    .frame_product{
        width: calc(var(--container-width) / 4 - 20px) ;
        text-align: center;
        padding: 50px 10px;
        h4{
            font-size: 2vw;
        }
            p{
                font-size: 1.2vw;
                span{
                    font-size: 2vw;
                }
            }
        }
            .image_product{
               max-width: 70%;
            
    }
}
}
@media screen and (max-width: 992px) {
    .product{
        // gap: 0 !important;
    
    .frame_product{
        width: calc(var(--container-width) / 4 - 20px) ;
        text-align: center;
        padding: 50px 10px;
        h4{
            font-size: 2vw;
        }
            p{
                font-size: 1.2vw;
                span{
                    font-size: 2vw;
                }
            }
        }
            .image_product{
               max-width: 70%;
            
    }
}
}
@media screen and (max-width: 768px) {
    .row_container{
        
        .product{
            width: 100%;
          
            .frame_product{
            width: 50%;
            text-align: center;
            padding: 50px 10px; 
            h4{
                font-size: 2vw;
            }
                p{
                    font-size: 1.7vw;
                    span{
                        font-size: 2.5vw;
                    }
                }
            }
                .image_product{
                   width: 100%;
                  
                
            
        
        }
    }
    }
}

@media screen and (max-width: 576px) {
    .row_container{
        
        .product{
            width: 100%;
            display: flex;
            flex-wrap: wrap !important;
            .frame_product{
            width: calc(var(--container-width)/2 - 2rem);
            padding: 50px 10px; 
            h4{
                font-size: 4vw !important;
            }
                p{
                    font-size: 3vw !important;
                    span{
                        font-size: 3vw !important;
                    }
                }
            }
                .image_product{
                   width: 100%;
                  
           
            
        
        }
    }
    }
}
@media screen and (max-width: 380px) {
    .row_container{
        
        .product{
            width: 100%;
            display: flex;
            flex-wrap: wrap !important;
            .frame_product{
                width: calc(var(--container-width)/2 - 2rem);
                padding: 50px 10px; 
    
                .image_product{
                   width: 100%;
                  
                }
             .btn_purchased{
                   a{
                    display: block;
                    font-size: 3vw !important;
                   }
                     
                }
            
            }
        }
    
    }
}
