* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Times New Roman", Times, serif;
}
.container-menu {
  margin-top: 50px;
  width: 100%;
  height: auto;
}
.wrap-menu {
  position: relative;
  font-size: 2rem;
  margin: 0px auto;
  width: 80%;
  height: auto;
  color: #333;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 30%;
  height: auto;
}
.list-menu {
  width: 50%;
}
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-menu a {
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
.contact-menu {
  display: flex;
  justify-content: space-between;
}
.btn a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  background: #75b7eb;
  padding: 10px 20px;
  border-radius: 30px;
}
.menu_icon {
  margin-left: 30px;
  color: rgb(184, 184, 184);
  display: none;
}
/* Menu: #333
Contact: #75b7eb */
@media screen and (max-width: 768px) {
  .list-menu {
    display: none;
  }
  .menu_icon {
    display: block;
  }
}
/* ------------------ */

.list-menu-mobile {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 200px;
  background: #333;
  height: 100%;
  display: none;
}
.nav-menu-mobile a {
  color: #f9f6f6;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 20px;
  /* display: block; */
}
