* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-weight: 500;
  background: rgb(201, 199, 199);
}
.container {
  width: fit-content;
  padding: 2rem;
  background: #4286f4;
  margin: 0 auto;
}
.container .item {
  width: 100%;
  padding: 10px;
  font-size: 1.8rem;
  border: 1px solid white;
  margin: 5px 0;
  background: #8bb3f4;
  cursor: pointer;
  user-select: none;
  &.active {
    background: rgb(252, 124, 77);
  }
}
.dragging {
  opacity: 0.5; /* Giảm độ mờ khi đang kéo */
}
