@use "../../partials/variables";
@use "../../partials/base";
@use "../../partials/mixin";
// sales ___________start
.inner_sale{
    padding: 0 0 5rem 0;
}
.wrap_container{
    .container{
        .row_container{
            .article_describe{
                margin-top: 10rem;
                text-align: center;
                h2{ 
                    margin: 0px auto;
                    max-width: 60rem;
                    color: variables.$textColor;
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 4rem;
                }
                p{
                    margin: 1.52rem auto;
                    max-width: 64rem;
                    color: variables.$textColor;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
            .row_about_container{
                display: flex;
                flex-wrap: wrap;
                align-items : center;
                justify-content: center;
                gap: 1.35rem;
                margin-top: 11rem;
                .about_col_one{
                    // border: 2px solid red;
                    box-shadow: 1px 1px 10px 2px variables.$grayColor;
                    background: #dddcdc;
                    max-width: 29rem;
                    // height:33rem;
                    background: variables.$aboutBackground;
                    position: relative;
                    padding: 3rem;
                    .override_one{
                        @extend %overRide;
                        top:-50%;
                        left: -50%;
                        transform: translate(50%, 60%);
                        background:  variables.$colorOverride;
                    }
                    .override_two{
                        @extend %overRide;
                        right: -50%;    
                        bottom: -50%;
                        transform: translate(-50%, -60%);
                        background:  variables.$overrideColor;
                    }
                  
                   }
                 
                    img{
                        padding: 3rem;
                        border-radius: 1rem;
                        background:  variables.$orangeBackground;
                        position: relative;
                      
                    }
                
                    span{
                        display: block;
                        margin-top: 3rem;
                        color: variables.$textColor;
                        font-size: 4.3333rem;
                        font-weight: 800;
                        line-height: normal;    
                    }
                    p{
                        color: variables.$textColor;
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 1.5;
                        padding-top: 2rem;
                    }
                }
                .about_col_two{
                    // order: 1;
                    box-shadow: 1px 1px 10px 2px variables.$grayColor;
                    padding: 6rem 3rem;
                    // border: 2px solid red;
                    height: 39rem;
                    max-width: 34rem;
                    background: variables.$aboutBackground;
                    // position: relative;
                    img{
                        padding: 3rem;
                        border-radius: 1rem;
                        background:  variables.$orangeBackground;
                        position: relative;
                      
                    }
                        span{
                            display: block;
                            margin-top: 3rem;
                            color: variables.$textColor;
                            font-size: 4.3333rem;
                            font-weight: 800;
                            line-height: normal;    
                        }
                    p{
                        color: variables.$textColor;
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 1.5;
                        padding-top: 2rem;
                    }
                }

            }
        }

    
}
// sales ___________start
@media screen and  (max-width: 992px) {
    .wrap_container{
        .row_container{
            .about_row{
                .article_describe{
                    h2{ 
                        font-size: 2.5rem;
                    }
                    p{
                        font-size: 1.6rem;
                    }
                }
                .row_about_container{
                    padding: 0px 20px;
                    flex-wrap: nowrap;
                    justify-content: center;
                    .about_col_one{
                        max-width: 34vw;
                        .override_one{
                            display: none;
                        }
                        .override_two{
                            display: none;
                        }
                    }
                    .about_col_two{
                        max-width: 34vw;
                    }
                }

            }
        }
    }
}
@media screen and  (max-width: 768px) {
    .inner_sale{
        padding: 0 0 2rem 0;
    }
    .wrap_container{
        .row_container{
            .about_row{
                    .article_describe{
                        margin-top: 5rem;
                        text-align: center;
                        h2{ 
                            margin: 0px auto;
                            max-width: 100%;
                            color: variables.$textColor;
                            font-size: 3.2rem;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 4rem;
                        }
                        p{
                            margin: 1.52rem auto;
                            max-width: 100%;
                            color: variables.$textColor;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                        }
                    }
                
                .row_about_container{
                    padding: 0px 20px;
                    flex-wrap: nowrap;
                    // flex-direction: column;
                    justify-content: center;
                    .about_col_one{
                        max-width: 30vw;
                        .override_one{
                            display: none;
                        }
                        .override_two{
                            display: none;
                        }
                    }
                    .about_col_two{
                        max-width: 30vw;
                    }
                    span{
                       
                        font-size: variables.$saleSizeSpanMd;
                         
                    }
                    p{
                       
                        font-size: variables.$saleSizeParagraphMd;
                        
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 576px) {
   
    .wrap_container{
        .row_container{
            .about_row{
                .article_describe{
                    padding: 0px 2rem;

                }
                .row_about_container{
                    flex-direction: column;
                    gap: 2rem;
                    .about_col_one{
                        max-width: 100%;
                        flex: 1 1 100%;
                      
                    }
                    .about_col_two{
                        max-width: 100%;
                        flex: 1 1 100%;
                    }
                    span{
                        
                        font-size: 2rem;    
                    }
                    p{
                        font-size: variables.$saleSizeParagraphSm;
                    }
                  
                }

            }
        }
    }
}
